@model FirmaAdvocacia.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <h4>Processos do Cliente</h4>
    <hr />

    @if (Model.ClientesProcessos != null && Model.ClientesProcessos.Any())
    {
        <ul>
            @foreach (var cp in Model.ClientesProcessos)
            {
                <li>
                    @cp.ProcessoOrigem.Tipo - @cp.ProcessoOrigem.Descricao
                </li>
            }
        </ul>
    }
    else
    {
        <p>Este cliente não está vinculado a nenhum processo.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClienteId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
