@model FirmaAdvocacia.Models.Processo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Processo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAbertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAbertura)
        </dd>
    </dl>
    <h3>Advogados</h3>
    <ul>
        @foreach (var ap in Model.AdvogadosProcessos)
        {
            <li>@ap.AdvogadoOrigem.Nome — OAB @ap.AdvogadoOrigem.OAB</li>
        }
    </ul>
    <h3>Clientes</h3>
    <ul>
        @foreach (var cp in Model.ClientesProcessos)
        {
            <li>@cp.ClienteOrigem.Nome — CPF @cp.ClienteOrigem.Cpf</li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProcessoId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
